body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  margin-top: ;
  box-sizing: border-box;
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  line-height: 24px;



  position: absolute;
  z-index: 9;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  right: 100%;
  text-align: center;

  background-color:rgb(165, 236, 230);
  border-radius: 10px;
  border: none;
  display: flex;

}

a:hover{
  text-decoration: line-through;
}